<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 h3">{{nowpage}}  / page:{{page}}
  </div> <br><br><br>
  <div class="col-xs-12 col-sm-12 col-md-12 h1">Full Movies Coming Soon!
  </div>
</div>
